{% extends "base.html.twig" %}

{% block body %}
    <h1> Hello !!! </h1>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.createdat | date("d/mY")}}</td>
            <td>{{ user.updatedat | date("d/m/Y")}}</td>
            <td><a href="edit/{{ user.id }}">Edit</a></td>
            <td><a href="delete/{{ user.id }}">Delete</a></td>
            <br>
        </tr>
    {% endfor %}
    <br>
    <br>
    <td><a href="add/">Create user</a></td>
{% endblock %}